doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Hammurabi
        link(rel="stylesheet", href="https://unpkg.com/mvp.css@1.12/mvp.css")
    body
        header
            h1 햄스터는 영원하다
        main
            div#myStream
                video#myFace(autoplay, playsinline, width="400", height="400")
                button#mute Mute
                button#camera Turn Camera
                select#cameras

script(src="/socket.io/socket.io.js")
script(src="/public/js/app.js")